.todo-item {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;

  &.-gray {
    background-color: #fafafa;
  }

  &--left {
    display: flex;
    align-items: center;
    width: 100%;

    form {
      display: none;
      width: 100%;

      input {
        margin: 12px 0 12px -3px;
        background-color: white;
        border: solid 1px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        outline: none;
        font-size: 16px;
        padding: 3px 0 3px 3px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
      }
    }

    p {
      cursor: pointer;
      font-size: 16px;
      margin: 15px 0;
    }

    &.-completed {
      p {
        text-decoration: line-through;
      }
    }

    &.-edit {
      p {
        display: none;
      }
      form {
        display: block;
      }
    }
  }

  &--right {
    display: flex;
    align-items: center;
    margin-left: 20px;

    div {
      img {
        cursor: pointer;
        padding: 5px 10px;
        &:last-child {
          margin-right: 10px;
        }
      }
    }
  }
}