.header {
  background-color: #2196f3;
  display: flex;
  justify-content: center;

  &--wrapper {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }

  &--logo {
    margin: 8px 0;
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    a {
      color: #000;
      text-decoration: none;
    }
  }

  &--links {
    display: flex;
    align-items: center;

    &:first-child {
      margin: 0 50px;
    }

    div {
      &:last-child {
        a {
          margin-left: 15px;
          margin-right: -10px;
          @media screen and (min-width: 1240px) {
            margin-left: 30px;
          }
        }
      }
    }

    a {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      font-weight: 500;
      align-items: center;
      text-decoration: none;
      color: #000;
      @media screen and (min-width: 1240px) {
        font-size: 18px;
      }
    }

    span {
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      margin-right: -10px;
      font-weight: 500;
      align-items: center;
      text-decoration: none;
      color: #000;
    }
  }
}
