.add-todo {
  margin: 0 20px 20px;
  @media screen and (min-width: 1024px) {
    margin: 0 0 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      margin: 0 auto;
      flex-wrap: wrap;
      width: 70%;
      justify-content: flex-start;
    }
  }

  &--form-field {
    width: 100%;
    input {
      padding: 10px 14px;
    }
    @media screen and (min-width: 1024px) {
      width: 70%;
    }
  }

  &--form-button {
    margin: 10px;
    @media screen and (min-width: 1024px) {
      margin: 20px;
      width: 20%;
    }
  }

  &--error {
    margin-top: 10px;
    color: red;
  }
}
