.app {

  &--content {
    display: flex;
    flex-direction: column;

    &-wrapper {
      max-width: 1240px;
      margin: 50px auto;
      width: 100%;
    }

    &-sort {
      font-size: 18px;
    }
  }
}