.auth {
  display: flex;
  flex-direction: column;

  &--wrapper {
    max-width: 1240px;
    margin: 0 20px;
    @media screen and (min-width: 1024px) {
      margin: 0 auto;
      width: 40%;
    }
  }

  h1,
  form {
    margin: 30px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  button{
    margin-top: 20px;
  }

  &--error {
    margin-top: 20px;
    color: red;
  }
}